# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.vsp
*.scc
*.nupkg
packages/
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json
project.assets.json
project.nuget.cache

# Visual Studio
.vs/
*.sln.DotSettings.user

# Rider
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
